body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.me, .opponent{
  font-size: 20px;
  line-height: 40px;
}

.active_cell:hover{
  background-color: #eee;
}

.square{
  border: 1px solid;
  width: 40px;
  text-align: center;
  font-size: 20px;
  line-height: 40px;
  cursor: pointer;
}
/* .square:hover{
  background-color: rgb(145, 143, 143);
} */

#root{
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: center;
  gap: 80px;
  width: 100%;
}

.board-head{
  display: flex;
  justify-content: start;
}

.board-head>.square{
  border: none;
  text-align: center;
  padding: 1px;
  cursor: default;
}

.board-head>.square{
  background-color: #fff;
}

.board-fild{
  display: flex;
  justify-content: start;
}

.wrapper{
  display: flex;
  justify-content: center;
}

.num{
  width: 40px;
  text-align: center;
  font-size: 20px;
  line-height: 40px;
  cursor: default; 
}

.ships_border{
  border: 1px solid;
  width: 20px;
  height: 20px;
}

.ships{
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}
.ship{
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}

label{
  display: flex;
  justify-content: start;
  cursor: pointer;
}

.hoverd{
  border: 1px solid red;
  background-color: red;
}
.hoverd_err{
  border: 1px solid rgb(80, 79, 79);
  background-color: rgb(80, 79, 79);
}
.rotate_btn{
  padding: 5px;
  border: 1px solid grey;
  box-shadow: 2px 1px 1px grey;
  cursor: pointer;
  text-align: center;
  margin: 5px auto;
}
.picked{
  border: 1px solid blue;
  background: blue;
}